* {
    padding: 0;
    margin: 0;
}
html {
    height: 100%;
}
body {
    height: 100%;
    position: relative;
    padding-bottom: 50px;
}
.header {
    background: #00315E;
    box-shadow: inset 0 -30px white;
    font-family: Roboto;
}

.name {
    width: calc(33% - 30px);
    color: white;
    padding: 0  0 0 30px;
    opacity: 0.4;
}
.nav {
    text-align: center;
    width: 33%;
    display: inline-block;
    vertical-align: top;
}
.nav li:hover {
    background:  #001C36;
}

.nav ul {
    list-style: none;
}

.nav li::after {
    /*content: '';*/
    /*border: 10px solid transparent; !* Прозрачные границы *!*/
    /*border-top: 10px solid pink; !* Добавляем треугольник *!*/
}

.nav li {
    display: inline-block;
    padding: 30px 20px 16px 20px;
}

.nav li a {
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    text-decoration: none;
    color: white;
    opacity: 0.8;
}

.logo_container {
    width: 33%;
    text-align: right;
}

.name, .logo_container {
    margin-top: 30px;
    display: inline-block;
    vertical-align: top;
}

.logo {
    padding-right: 30px;
}

.main {
 }

.footer{
    position: absolute;
    left: 0 ; right: 0; bottom: 0;
    height: 50px;
    background:  #001C36;
    text-align: right;
}

.copyright_block{
    display: inline-block;
    color: white;
    font-family: Roboto;
    padding: 19px 30px 20px 0;
    opacity: 0.4;

}