* {
    margin: 0;
    padding: 0;
}

body {
    /*background-image: url('../png/bg-black.png');*/
    /*background-size: cover;*/
}

.site-container {
    width: 90%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
/*@font-face {*/
    /*font-family: Scriptina; !* Гарнитура шрифта *!*/
    /*src: url('../font/scriptina.regular.ttf'); !* Путь к файлу со шрифтом *!*/
/*}*/

@font-face {
    font-family: Helvetica; /* Гарнитура шрифта */
    src: url('../font/HelveticaNeueLTPro-Lt.ttf'); /* Путь к файлу со шрифтом */
}

header {
    justify-content: center;
}
nav{
    text-align: center;
}
nav li:not(:nth-of-type(4)){
    /*todo*/
}


nav li:first-child {
    display: inline-block;
    margin-right: 15px;
}

nav li:last-child {
    display: inline-block;
    margin-left: 15px;
}

nav li:not(:first-child):not(:last-child) {
    display: inline-block;
    margin-right: 15px;
    margin-left: 15px;
}



nav li a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 13pt;
    color: #989696;
}

nav li a:hover {
    color: #000;
}

.main {
    text-align: center;
    margin-top: 250px;
    margin-bottom: 50px;
}

button {
 border: solid 1px #000000;
    border-radius: 0;
    padding: 20px 50px;
    margin-top: 50px;
}

h1 {
    font-family: Helvetica;
    font-size: 44pt;
}

.main h2 {
    font-family: 'Merriweather', serif;
    font-size: 16pt;
    font-weight: lighter;
    font-style: italic;
}

.read-more{
    font-family: 'Montserrat', sans-serif;
    font-size: 13pt;
}

.go_down {
    margin-top: 150px;
    margin-bottom: 50px;
}

.round {
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background-color: #000000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.round:first-child {
    opacity:  0.2;
}

.round:first-child {
    opacity:  0.2;
}

.round:nth-child(2) {
    opacity: 0.4;
}

.round:last-child {
    opacity:  0.6;
}

.second{
    display: flex;
    height: 1000px;
}

.second .side {
    color: #ffffff;
}

.second .side:first-child {
    text-align: right;
    margin-right: 100px;
}

.second .side:last-child {
    text-align: left;
    margin-left: 100px;
}

.second .side h2 {
    font-size: 48pt;
}

.second .side p {
    font-size: 15pt;
    color: #b7b7b7;
}

.second .side:first-child {
    margin-top: 87px;
}

.centralized{
    text-align: center;
}

.third h2 {
    font-size: 34pt;
    margin-top: 40px;
}

.third h3{
    font-size: 16pt;
    color: #b7b7b7;
}

.flex {
    display: flex;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    justify-content: space-around;
}

.flex article:first-child, .flex article:last-child{
    margin-top: 120px;
}

h4 {
    font-size: 16pt;
    margin-top: 10px;
}

h5 {
    font-size: 13px;
}

h4, h5 {
    color: #b7b7b7;
}

article img {
    margin-top: 10px;
}

input {
    width: 80%;
    margin-bottom: 10px;
}

textarea {
    width: 80%;
    margin-bottom: 10px;
}





