* {
    margin: 0;
    padding: 0;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
}

body {
   /* background-image: url('../img/bg-black.png');
    background-size: cover;*/
}

.site-container {
    width: 90%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
/*@font-face {*/
    /*font-family: Scriptina; !* Гарнитура шрифта *!*/
    /*src: url('../font/scriptina.regular.ttf'); !* Путь к файлу со шрифтом *!*/
/*}*/

@font-face {
    font-family: Helvetica; /* Гарнитура шрифта */
    src: url('../font/HelveticaNeueLTPro-Lt.ttf'); /* Путь к файлу со шрифтом */
}

header {
    justify-content: center;
}
nav{
    text-align: center;
}
nav li:not(:nth-of-type(4)){
    /*todo*/
}


nav li:first-child {
    display: inline-block;
    margin-right: 15px;
}

nav li:last-child {
    display: inline-block;
    margin-left: 15px;
}

nav li:not(:first-child):not(:last-child) {
    display: inline-block;
    margin-right: 15px;
    margin-left: 15px;
}



nav li a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 13pt;
    color: #989696;
}

nav li a:hover {
    color: #000;
}

.main {
    text-align: center;
    margin-top: 250px;
    margin-bottom: 50px;
}

button {
 border: solid 1px #000000;
    border-radius: 0;
    padding: 20px 50px;
    margin-top: 50px;
}
h1, h2, h3, p {
    font-family: Helvetica;
}
h1 {
    font-size: 44pt;
}

.main h2 {
    font-family: 'Merriweather', serif;
    font-size: 16pt;
    font-weight: lighter;
    font-style: italic;
}

.read-more{
    font-family: 'Montserrat', sans-serif;
    font-size: 13pt;
}

.go_down {
    margin-top: 150px;
    margin-bottom: 50px;
}

.round {
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background-color: #000000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.round:first-child {
    opacity:  0.2;
}

.round:first-child {
    opacity:  0.2;
}

.round:nth-child(2) {
    opacity: 0.4;
}

.round:last-child {
    opacity:  0.6;
}

.history {
    display: flex;
    height: 1000px;
    background-color: black;
}

.history .side {
    color: #ffffff;
}

.history .side:first-child {
    text-align: right;
    margin-right: 100px;
}

.history .side:last-child {
    text-align: left;
    margin-left: 100px;
}

.history .side h2 {
    font-size: 48pt;
}

.history .side p {
    font-size: 15pt;
    color: #b7b7b7;
}

.history .side:first-child {
    margin-top: 87px;
}

.centralized{
    text-align: center;
}

h2 {
    font-size: 34pt;
    margin-top: 40px;
}

h3{
    font-size: 16pt;
    color: #b7b7b7;
}

.flex {
    display: flex;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    justify-content: space-around;
}
.team .flex{
    margin-top: 125px;
}

.flex article:first-child, .flex article:last-child{
    margin-top: 120px;
}

h4 {
    font-size: 16pt;
    margin-top: 10px;
}

h5 {
    font-size: 13px;
}

article h4, h5 {
    color: #b7b7b7;
}

article img {
    margin-top: 10px;
}

input {
    width: 80%;
    margin-bottom: 10px;
}

textarea {
    width: 80%;
    margin-bottom: 10px;
}

.advantages {
    background-image: url('../img/sevices-bg.png');
    background-repeat: no-repeat ;
}
.advantages .flex {
    margin-top: 220px;
}

.advantages h2{
    padding-top: 230px;
    color: #ffffff;
}

.advantages h3, .advantages h4{
    color: #b7b7b7;
}

.advantages h5 {
    color: #323232;
    margin-top: 32px;
    padding: 0 50px;
}

.service_sec h4 {
    color: white;
}

.flex + button {
    margin-top: 550px;
    margin-bottom: 300px;
    text-transform: uppercase;
}

.contacts {
    margin-top: 100px;
    font-size: 12pt;
}

.contacts .flex {
    margin-top: 60px;
}

.contacts p {
    margin-top: 10px;
    color: #b7b7b7;
}

.contacts form {
    margin-top: 170px;
}

input, textarea {
    font-size: 15pt;
    border: solid 2px #b7b7b7;
}

input {
    text-align: center;
    height: 50px;
}

input[type=submit] {
    background: #000000;
    color: #ffffff;
    border: none;
}

footer {
    margin-top: 150px;
    color: #b7b7b7;
    font-size: 14pt;
}



